<div class="image2">
    <img src="assets/images/image2.jpg" alt="">
</div>
<div class="content2">
    <span class="content3">You can achieve your financial goals</span>
    <br>
    <span class="content4">We can help.</span>
    <u><span></span></u>
</div>
<div class='container'>
    <div class='underline'></div>
</div>

<div class="content5">
    <p style="font-size: large;">We will match you with a loan program that meet your financial need. In short term
        liquidity, <br> by striving to make
        funds <br> available to them within 24 hours of application.</p>
    <span class="space"><button class="button3">All Personal Loan</button></span>
</div>

<div class="card1">
    <mat-card class="example-card">
        <img class="img1" src="assets/images/image3.png" alt="">
        <mat-card-content>
            <h2>Personal Loan @ 10.75%</h2>
            <p>Unlimited Rewards. Enjoy Attractive Deals & Discounts. Flexible Payment Options. Global Usage Privilege
            </p>
        </mat-card-content>
    </mat-card>
    <mat-card class="example-card">
        <img class="img1" src="assets/images/image5.png" alt="">
        <mat-card-content>
            <h2>Repayable in 12 to 60 EMIs</h2>
            <p>
                Globally Accepted. Lowest Interest @ 20% Annually. Worldwide Cash Advance
                Facility.
            </p>

        </mat-card-content>
    </mat-card>
    <mat-card class="example-card">
        <img class="img1" src="assets/images/image4.png" alt="">
        <mat-card-content>
            <h2>Personal Loan @ 10.75%</h2>
            <p>Get Credit Card Within 24 hours ! Up to 98% Cash Withdrawal Facilities by
                Card Cheque
            </p>    
        </mat-card-content>
    </mat-card>
</div>