<div class="main1">
    <div class="color1">
    
    </div>
    <div class="color2">
    </div>
    <div class="content1">
        <img class="content2" src="assets/images/image6.jpg" alt="">
    <div class="content3">
        <h2>Alons Previous Record</h2><br> <h3 style="color: blueviolet;"> More the 20 years experience</h3> <br>Helping Your Business Reach Its Full Potential,Whether you are a <br> start-up or a large corporation, RBC has the tools you need to start and <br> run your business all in one place. <br> Starting a business is both exciting and challenging. <br> We can help you every step of the way.
        <br><div class="space"><button class="button3">Read More</button></div>
    </div> 
    </div>
</div>

<div class="card1">
    <mat-card class="example-card">
        <img class="img1" src="assets/images/image7.jpg" alt="">
        <mat-card-content>
            <h2 class="content7">Personal Loan @ 10.75%</h2>
            <p class="content6">Low Cost
            </p>
            <div class="space1"><button class="button4">Apply Now</button></div>
        </mat-card-content>
        
    </mat-card>
    <mat-card class="example-card">
        <img class="img1" src="assets/images/image8.jpg" alt="">
        <mat-card-content>
            <h2 class="content7">Business Loan @11.65%</h2>
            <p class="content6">
               Lowest Interest
            </p>
            <div class="space1"><button class="button4">Apply Now</button></div>
        </mat-card-content>
    </mat-card>
    <mat-card class="example-card">
        <img class="img1" src="assets/images/image9.jpg" alt="">
        <mat-card-content>
            <h2 class="content7">Home Loan @ 10.75%</h2>
            <p class="content6">Rate of Interest
            </p>   
            <div class="space1"><button class="button4">Apply Now</button></div> 
        </mat-card-content>
    </mat-card>
    <mat-card class="example-card">
        <img class="img1" src="assets/images/image10.jpg" alt="">
        <mat-card-content>
            <h2 class="content7">Credit $ Debit Card @ 5.75%</h2>
            <p class="content6">Low Cost
            <div class="space1"><button class="button4">Apply Now</button></div>   
        </mat-card-content>
    </mat-card>
</div>

