.main1{
    flex-wrap: wrap;
    font-weight: 50;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.color1{
    background-color: rgb(119, 0, 255);
    margin-top: 10px;
    height: 100px;
    width: 100%;


}
.color2{
    background-color: rgb(119, 0, 255);
    height: 100px;
    width: 30%;
    border: none;

}
.content1{
    display: flex;
    flex-wrap: wrap;
    
}
.content2{
    width: 650px;
    height: 400px;
}
.content3{
    display: inline;
    padding-left: 50px;
    flex-wrap: wrap;
    
}
.button3{
    
    height: 50px;
    width: 250px;
    background-color: blueviolet;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    border: none;
    
}
.button3:hover{
    background-color: red;
    cursor: pointer;
}
.space1{
    margin-top: 60px;
    justify-content:center ;
    display: flex;
}
.card1{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    flex-wrap: wrap;
    
}

 .img1{
    margin: auto;
    padding-bottom: 10px;
 }
.content6{
    color: rgb(0, 195, 255);
    justify-content: center;
    display: flex;
}
.content7{
    color: rgb(213, 222, 135);
    justify-content: center;
    display: flex;
}
.space{
    margin-top: 30px;
}
.button4{
    
    height: 40px;
    width: 150px;
    background-color: blueviolet;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    border: none;
    
}
.button4:hover{
    background-color: red;
    cursor: pointer;
}
.example-card {
   
    padding-top: 20px;
    margin-top: 50px;
    margin-right: 10px;
    

  }