<div class="home-page">

    <!-- <img class="image1" src="assets/images/image1.jpg" alt="image"> -->
    <div class="menu">
        <mat-toolbar color="primary">
            <span>Samcy</span>
            <span class="example-spacer"></span>
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                <mat-icon>menu</mat-icon>
            </button>

        </mat-toolbar>
    </div>
</div>
<div class="content1">
    <div class="money">
        <h1>Your Loan, Tailored for You <br> Borrow up to $35000 </h1>
    </div>
    <u style="display: flex; justify-content: center; color: white;">Low Interest Fixed Term Personal Loan</u>
    <div class="button1">
        <section>
            <div class="example-button-row">
                <button class="button2">CHECK RATE</button>
                <span class="space"></span>
                <button class="button3">APPLY NOW</button>
            </div>
        </section>
    </div>
</div>
